.not-grabber{
    cursor:move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabber{
    cursor:grabbing;
    cursor: -webkit-grabbin;
    cursor: -moz-grabbing;
}

.box{
    background-color: blueviolet ;
    border: 2px dashed black;
    border-radius: 6px;
}